<!-- start widget-->
            <div class="widget">
                <h4 class="title">Docker 镜像中心</h4>
                <div class="content download">

                  <li class="btn btn-none btn-block">镜像中心即将开放
                  </li>
                </div>
            </div>
            <!-- end widget
            <a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', 'Docker中文图书'])">镜像中心即将开放</a>

           -->
