<!-- start widget-->
            <div class="widget">
                <h4 class="title">Docker文档</h4>
                <div class="content download">
                    <a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', 'Docker中文图书'])">中文资料下载</a>
                </div>
            </div>
            <!-- end widget -->
