<!-- start widget
            <div class="widget">
                <h4 class="title">下载 Ghost</h4>
                <div class="content download">
                    <a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载Ghost'])">Ghost 中文版（0.6.0）</a>
                </div>
            </div>
            <!-- end widget -->