
{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

<!-- start header -->



<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
            {{! The tag below includes the post loop - partials/loop.hbs }}
            <article class="post page">

                <header class="post-head">
                    <h1 class="post-title">关于 Docker中国开源社区 </h1>
                </header>

                <section class="post-content">

                    <h2>关于社区：</h2>
<blockquote>
DockerClub 社区为国内最专业的 Docker 开源技术社区，致力于Docker及Docker衍生的技术 的技术研究。
 <p>
DockerClub 社区由一批热爱 Docker虚拟化技术的工程师发起，目前已经吸引了互联网各个公司的专业技术人员加入，我们非常欢迎更多对 Docker 感兴趣的朋友。

Docker目前有一个社区和一个专刊博客组成，社区为更多的热爱Docker技术的工程师提供一个交流的渠道，而专刊博客我们会定期邀请一些业内的Docker专家、大牛
在专栏发布一些前沿技术，同时我们也将会收集更多好得博文呈现给大家。

社区目前由(<a href="http://dockerclub.org/user/cncodog">@cncodog</a>) 在维护，有问题请联系： <a href="mailto:blog@dockerclub.net">@我</a>

请关注我们的官方微博：<a href="http://weibo.com/dockerclub">@dockerclub</a>

</blockquote>
  <h2>关于博客专栏：</h2><blockquote>
专栏是由ghost（<a href="http://ghost.com">)开源博客平台所搭建，专栏是一个开放的博客社区，如果你也对docker非常热爱和精通，欢迎加入我们并投稿

专栏加入请<a href="mailto:blog@dockerclub.net">@BLOG专栏</a>
</blockquote>
  <h2>感谢：</h2><blockquote>
 感谢<a href="https://cnodejs.org">cnodejs社区</a>,社区问答部分源自cnodejs的clone，非常感谢cnodejs社区提供非常棒的产品！
 感谢<a href="http://ghost.com">ghost</a>和<a href="http://ghostchina.com">ghostchina</a>,社区的专栏部分来自ghost中文版本。
                  </blockquote>

      </section>

            </article>

            </main>

            <aside class="col-md-4 sidebar">
                <!-- start widget -->
                <!-- end widget -->
                <!-- start tag cloud widget -->
                {{> community}}
                <!-- end tag cloud widget -->

                <!-- start widget
                 {{> download}}
                <!-- end widget -->

                <!-- start tag cloud widget -->
                {{> tagcloudlist}}
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <!-- end widget -->

                <!-- start widget -->
                <!-- end widget -->                </aside>

        </div>
    </div>
</section>
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
            {{> recentpost}}
            </div>
            <div class="col-sm-4">
                {{> tagcloudlist}}
            </div>

            <div class="col-sm-4">
                {{> friendlinks}}
                </div>

        </div>
        </div>
    </div>
</footer>



{{! The main content area on the homepage }}
