
{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

<!-- start header -->



<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
            {{! The tag below includes the post loop - partials/loop.hbs }}
            <article class="post page">

                <header class="post-head">
                    <h1 class="post-title">关于 Docker中国开源社区 </h1>
                </header>

                <section class="post-content">
                  <blockquote>
           <p>开源社区是我一直以来的一个想法，办社区前我内心也想过，应该是一件苦行僧式的过程，我也深信社区的建立不是一触而就的，必定、也是必须长期坚持的过程。但我始终认为社区的构建是我丰富人生的一次机会，这里还是放一直图，活跃气氛！
        </blockquote>
        <p> <img src="http://articleimg.xbiao.com/2014/1013/20141013141316595015162.jpg">

         <p>   办理好社区，我希望更多人参与，也希望通过社区能起到linked的效果，如果你也喜欢Docker、也喜欢开源，那请@ <a href="mailto:blog@dockerclub.net">我</a>
            <hr />

            <p>如果你也喜欢 Docker ，可以通过以下方式与我们交流：</p>

            <ul>
            <li>微博：<a href="http://weibo.com/dockerclub">@dockerclub</a></li>
            <li>QQ群：寻求合作中</li>
            </ul>
            <hr />

            <p>合作站点：</p>

            <ul>
            <li><a href="http://www.ghostchina.com">ghost中文社区</a></li>
            <li><a href="http://www.cnodejs.org">NodeJS中文社区</a></li>

            </ul>

            <p>合作伙伴：</p>

            <ul>
            <li><a href="http://www.aliyun.com/">阿里云</a></li>
            <li><a href="http://www.qiniu.com/">七牛云存储</a></li>
            <li><a href="http://www.dnspod.com/">DNSPOD中文站</a></li>

            </ul>

            <p>赞助商：</p>

            <ul>
              <!--
            <li><a href="https://www.upyun.com/">又拍云</a></li>
            <li><a href="http://www.ucloud.cn/">UCloud</a></li>
            <li><a href="http://www.qiniu.com/">七牛云存储</a></li>-->
            </ul>
      </section>

            </article>

            </main>

            <aside class="col-md-4 sidebar">
                <!-- start widget -->
                <!-- end widget -->
                <!-- start tag cloud widget -->
                {{> community}}
                <!-- end tag cloud widget -->

                <!-- start widget
                 {{> download}}
                <!-- end widget -->

                <!-- start tag cloud widget -->
                {{> tagcloudlist}}
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <!-- end widget -->

                <!-- start widget -->
                <!-- end widget -->                </aside>

        </div>
    </div>
</section>
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
            {{> recentpost}}
            </div>
            <div class="col-sm-4">
                {{> tagcloudlist}}
            </div>

            <div class="col-sm-4">
                {{> friendlinks}}
                </div>

        </div>
        </div>
    </div>
</footer>



{{! The main content area on the homepage }}
